:root {
	--cheaty-primary-color: 27, 38, 59;
	--cheaty-secondary-color: 65, 90, 119;
	--cheaty-termary-color: 13, 27, 42;
	--cheaty-text-color: 224, 225, 221;
	--hover-color: 255, 255, 255, 0.2;
}

[hidden] {
	display: none !important;
}

.cheaty_cursor,
.cheaty-selected,
.cheaty-selected-static {
	cursor: url("/public/cursor_32x32.png"), auto !important;
}

.cheaty-selected,
.cheaty-selected-static {
	border-color: transparent;
	outline: 3px dotted orange !important;
	/* outline-offset: -2px; */
}

.cheaty_action_button_container_static *,
#cheaty_action_button_container * {
	all: unset;
}

.cheaty_action_button_container_static,
#cheaty_action_button_container {
	position: absolute;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	z-index: 99999 !important;
	background-color: rgb(var(--cheaty-secondary-color));
	color: rgb(var(--cheaty-text-color));
	padding: 5px;
	border-radius: 5px;
	min-height: 28px;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.cheaty_action_button_container_static,
#cheaty_action_button_container {
	min-width: 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: distribute;
	-webkit-box-pack: space-evenly;
	justify-content: space-evenly;
	gap: 1rem;
}
.cheaty_action_button_container_static:after,
#cheaty_action_button_container:after {
	position: absolute;
	content: "";
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	left: 50%;
	margin-left: -10px;
	top: 100%;
	border: 10px solid transparent;
	border-top: 10px solid rgb(var(--cheaty-secondary-color));
}
.cheaty_action_button_container_static.bottom:after,
#cheaty_action_button_container.bottom:after {
	top: -10px;
	border-top: transparent;
	border-bottom: 10px solid rgb(var(--cheaty-secondary-color));
}
.cheaty_action_button_container_static.cheaty_hidden:after,
#cheaty_action_button_container.hidden:after {
	border: transparent;
}
.cheaty_action_button_container_static button,
#cheaty_action_button_container button {
	all: unset;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	color: white;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid;
	height: 100%;
}
.cheaty_action_button_container_static button:hover,
#cheaty_action_button_container button:hover {
	background-color: rgb(var(--cheaty-text-color), 0.3);
}

.cheaty_action_button_container_static button:disabled,
#cheaty_action_button_container button:disabled {
	color: gray;
	border: none;
}
.cheaty_action_button_container_static button:disabled:hover,
#cheaty_action_button_container button:disabled:hover {
	background-color: transparent;
}

/* 
 * POPUP 
 */
#cheaty_popup_container {
	background-color: rgb(var(--cheaty-primary-color));
	color: rgb(var(--cheaty-text-color));
	border: 1px solid rgb(var(--cheaty-secondary-color));
	overflow: hidden;
	font-family: "Segoe UI", Tahoma, sans-serif;
}
#cheaty_popup_container a,
#cheaty_popup_container button {
	color: rgb(var(--cheaty-text-color));
	text-decoration: none;
}
#cheaty_popup_container button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
#cheaty_popup_container header {
	background-color: rgb(var(--cheaty-termary-color));
	padding: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-height: 40px;
}
#cheaty_popup_container header #cheaty_header_links {
	position: absolute;
	right: 5px;
}
#cheaty_popup_container header #cheaty_header_links button {
	padding: 0;
}
#cheaty_popup_container header #cheaty_header_links svg {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 25px;
	padding-top: 0 !important;
}
#cheaty_popup_container h1 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: bold;
}

#cheaty_main {
	margin: 0;
	padding: 0;
}

#cheaty_component_list {
	z-index: 2;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 15rem;
	max-width: 95%;
	padding-left: 10px;
	padding-right: 2px;
	margin-top: 0;
	scrollbar-color: rgba(var(--hover-color)) rgb(var(--cheaty-termary-color));
	scrollbar-width: thin;
}
#cheaty_component_list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	margin: 4px;
}
#cheaty_component_list li span {
	margin-left: 3px;
	font-size: 18px;
}
#cheaty_component_list li .text_container span:nth-child(1) {
	color: rgb(168, 168, 168);
	padding-right: 3px;
}
#cheaty_component_list li .text_container span:nth-child(2) {
	color: rgb(176, 107, 203);
	margin-left: 0;
}
#cheaty_component_list li .text_container span:nth-child(3) {
	margin-left: -1px;
	color: rgb(114, 192, 84);
}
#cheaty_component_list .text_container {
	width: 65%;
	text-align: left;
	border: none;
	border-radius: 5px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: clip;
	text-overflow: clip;
}
#cheaty_component_list .text_container:hover {
	background-color: rgba(var(--hover-color));
}
#cheaty_component_list .button_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 25%;
}
#cheaty_component_list li .button_container button {
	background-color: transparent;
	border: 1px solid rgb(var(--cheaty-secondary-color));
	border-radius: 15px;
	margin: 0 2px;
}
#cheaty_component_list li .button_container button:hover {
	background-color: rgba(var(--hover-color));
}
#cheaty_component_list li .button_container button svg {
	margin: 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 25px;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
